@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background: url("../img/bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, .6);
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, .1);
  padding: 10px 20px;
  font-size: 18px;
}

label {
  font-weight: bold;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 20px;
  font-family: inherit;
  background-color: #fff;
  border: none;
  text-align: center;
  margin-left: 5px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
